<h1><mat-icon>shopping_cart</mat-icon>Your basket:</h1>
<div *ngIf="basketItems.length > 0; else noItems">
  @for(item of basketItems; track item) {
  <div *ngIf="getItemDefById(item.productId) as item2">
    <p>
      {{ item2.product_name }}({{ item2.colour_name }},
      {{ item2.size_option_name }}): {{ item.quantity }}
      <button (click)="deleteItem(item.productId)">-1</button>
    </p>
  </div>
  }

  <button mat-raised-button class="buy-btn" (click)="openConfirmDialog()">
    Buy
  </button>
</div>
<ng-template #noItems>You have no items in tour basket.</ng-template>
