.container {
  width: 100vw;
  height: min-content;
  background-color: beige;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: aqua;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  &-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &-login {
    right: 0;
    margin-right: 30px;
    margin-left: auto;
  }
}

.main {
  margin-top: 80px;
  height: min-content;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.basket {
  position: fixed;
  top: 150px;
  right: 50px;
  padding: 30px;
  background-color: white;
  width: 15%;
}
